{% extends "base.twig" %}

{% block content %}
		<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">

      <div class="hero-image" style="background-image:linear-gradient(rgba(255,255,255,.4), rgba(255,255,255,.4)),url('{{ post.thumbnail.src }}')">
				<figcaption>
					{{post.thumbnail.caption}}
				</figcaption>
      </div>

			<section class="wrapper content-section">

					{{post.content}}

					<a class="cta-link" href="{{ function('get_permalink', 9) }}">See latest events ></a>
			</section>

      <section class="wrapper social-feed">
      {{ function(
          'do_shortcode',
          '[instagram-feed num=5 cols=5 showbutton=false showheader=false showfollow=false]') }}

					<a class="cta-link" href="https://www.instagram.com/instasistas">Follow Instasistas on Instagram ></a>
      </section>

		</article>
{% endblock %}
