{% extends "base.twig" %}

{% block content %}
		<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">

			<section class="wrapper content-section page-content">

					{{post.content}}

					<div class="cta-wrapper">
						<a class="cta-link" href="{{ function('get_permalink', 9) }}">
							See latest events
						</a>
					</div>
			</section>

      <section class="wrapper social-feed">
      {{ function(
          'do_shortcode',
          '[instagram-feed num=15 cols=5 showbutton=false showheader=false showfollow=false]') }}

					<div class="cta-wrapper">
						<a class="cta-link" href="https://www.instagram.com/instasistas">

							<span>Follow Instasistas on Instagram</span>
						</a>
					</div>
      </section>

		</article>
{% endblock %}
