{% extends "base.twig" %}

{% block content %}

	{% if post.get_thumbnail %}
		<div class="featured-image"  style="background-image: url('{{ post.thumbnail.src }}')"></div>
	{% endif %}

		<article class="wrapper post-type-{{ post.post_type }}" id="post-{{ post.ID }}">

			<section class="article-content">
				<h1>{{ post.title }}</h1>
				{% include 'location-link.twig' %}

				<div class="page-content">
					{{post.content}}
				</div>
			</section>

		</article>
{% endblock %}
